@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --sky: rgb(1, 157, 218);
    --gray: #eeebeb;
    --green: rgb(130 163 38);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'KoPubDotumMedium';
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* 헤더 */

.container {
    width: 1070px;
    margin: 0 auto;
}

.gnb {
    overflow: hidden;
    margin: 10px 0;
}

.gnb .gnbList {
    float: right;
    font-size: 0;
}

.gnb .gnbList li {
    display: inline-block;
    font-size: 12px;
    color: gray;
    font-weight: bold;
    padding-left: 20px;
}

.logoArea {
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.logoArea div {
    display: inline-block;
}



.logoArea .aniLogo {
    float: left;
    position: relative;
    height: 60px;

}

.aniLogoImg {
    animation: logoMoving 1000ms infinite;
}

@keyframes logoMoving {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

.aniLogo .logoText {
    width: 120px;
    text-align: start;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logoArea .logoText h1 {

    font-size: 13px;
    color: rgb(130, 163, 38);
}

.logoArea .logoText h2 {
    font-size: 13px;
}

.search {
    float: right;
    padding-top: 20px;
}

.search input {
    height: 20px;
}

.lnb {
    padding: 10px 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.lnb .container {
    text-align: center;
    position: relative;
}

.lnb .container>* {
    display: inline-block;

}

.lnb .container #category {
    display: none;
}

.cateList {
    font-size: 0;
}

.lnb .cateList li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding: 0 20px;
}



.lnb .container label {
    color: var(--sky);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

.lnb .category_tab {
    width: 120px;
    height: 0;
    position: absolute;
    top: 25px;
    left: 0;
    background: white;
    overflow: hidden;
    transition: height 0.3s;
}

.lnb .category_tab li {
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 10px 20px;
    font-size: 13px;
}

#category:checked~.category_tab {
    height: 175px;
}

.lnb .cateSide {
    float: right;
}

.lnb .cateSide li {
    display: inline-block;
    font-size: 13px;
    color: #444;
}

/* 주문창 */

.orderProduct {
    margin-bottom: 50px;
}

.orderProduct>p {
    text-align: center;
    color: #333;
    margin: 30px 0;
    transform: rotate(0.04deg);
}

.dateBox {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

.dateBar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 50px;
    border-radius: 65px;
    background: #eeebeb;
    ;
}

.dateCircle {
    overflow: hidden;
    position: absolute;
    left: 205px;
}

.dateCircle .circle {

    width: 100px;
    height: 100px;
    background: #f3f3f3;
    border-radius: 50%;
    border: 2px solid #999;
    text-align: center;
    float: left;
    margin-right: 10px;
    padding: 25px;
}

.circle.greenCircle {
    border: 2px solid var(--green);
}

.circle.greenCircle span,
.circle.greenCircle p {
    color: var(--green);
}

.circle p {
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
}

.navi>* {
    display: inline-block;
}

/* 제품 구매부분 */
/* 제품구매 왼쪽박스 */

.productBox {
    overflow: hidden;
    color: #333;
}

.productBox .productLeft {
    float: left;
    width: 450px;
    margin-bottom: 10px;
}

.productLeft .productImg {
    margin-bottom: 10px;
}

.productLeft img {
    display: block;
}

.smartChat {
    padding: 22.5px;
    border: 1px solid #999;
}

.productSns {
    position: relative;
    width: 100%;
    background: #f3f3f3;
    overflow: hidden;
    margin-bottom: 10px;
    height: 80px;
}

.snsLinks {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.snsLinks>div {
    float: left;
}


.snsLinks i {
    font-size: 23px;
}

.fa-facebook-square {
    color: rgb(50, 66, 99);
}

.fa-twitter-square {
    color: rgb(42, 140, 206);
}

.snsLinks span {
    display: inline-block;
    font-size: 11px;
    width: 60px;
    height: 23px;
    line-height: 23px;
    transform: rotate(0.04deg);
    text-align: center;
    background: var(--sky);
    color: white;
    border-radius: 3px;
}

.snsLikes {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    overflow: hidden;
}

.snsLikes div {
    float: left;
}

.like {
    background: white;
    border: 1px solid #ccc;
    width: 75px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
}

.likeCount {
    width: 38px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid var(--sky);
    background: rgb(204, 249, 255);
    font-weight: bold;
    font-size: 14px;
    color: var(--sky);
    border-radius: 3px;
    margin-left: 4px;
}

.productLeft .smallImg {
    width: 80px;
    border: 1px solid #999;
}

.smallImg img {
    display: block;
    width: 100%;
}

.productInfo {
    overflow: hidden;
}

.productInfo div {
    float: left;
}

.productInfo .smartChat {
    float: right;
}

.EventBox {
    background: #f3f3f3;
    padding: 20px;
}

.EventBox label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.EventBox select {
    width: 100%;
    padding: 5px;
}


/* 제품구매 오른쪽박스 */

.productRight {
    float: right;
    width: 50%;
}

.productName {
    margin-bottom: 50px;
}

.productRight .productName h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.productRight .productName h4 {
    font-size: 20px;
}

.productName p {
    transform: rotate(0.04deg);
    margin-bottom: 10px;
}

.productCost .prevCost {
    display: block;
    color: #999;
    text-decoration: line-through;
    transform: rotate(0.04deg);
    font-size: 13px;
    margin-bottom: 5px;
}

.productCost {
    margin-bottom: 30px;
}

.productCost h3 {
    position: relative;
}

.productCost h3::after {
    position: absolute;
    content: "회원가";
    display: inline-block;
    color: var(--sky);
    font-size: 10px;
    border: 1px solid var(--sky);
    border-radius: 4px;
    padding: 4px;
    margin-left: 5px;
}

.productCost h3 span {
    font-size: 15px;
    transform: rotate(0.04deg);
}

.shipSetting {
    width: 100%;
    border: 1px solid var(--gray);
    padding: 10px 20px;
    margin-bottom: 10px;
}

.shipTag .managerShip,
.freeShip {
    display: inline-block;
    font-size: 11px;
    color: #999;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px 6px;
    margin: 10px 0;
}

.loginBox {
    overflow: hidden;
}

.loginBox p {
    display: inline-block;
    color: var(--sky);
    font-size: 12px;
    font-weight: bold;
    line-height: 36px;
}

.loginBox h4 {
    float: right;
    font-size: 14px;
    padding: 10px 20px;
    background: var(--sky);
    color: white;
}

.orderBox {
    border: 5px solid #ddd;
    font-weight: bold;
}

.orderBox .orderCountBox {
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid #ddd;
}

.addOrder {
    position: relative;
    padding: 30px 20px;
    font-size: 13px;
}

.addOrder .cost {
    color: var(--sky);
    margin-top: 10px;
}

.orderBar {
    position: absolute;
    overflow: hidden;
    right: 10%;
    bottom: 15px;
}

.orderBar>* {
    float: left;
    width: 43px;
    height: 43px;
    line-height: 40px;
    text-align: center;
    background: var(--gray);
    border: 2px solid #ccc;
}

.orderBar div {
    border: none;
    background: transparent;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.costSum {
    float: right;
    margin: 20px;
}

.costSum>* {
    display: inline-block;
}

.costSum h5 {
    margin-right: 7px;
}

.costSum span {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid rgb(206, 185, 145);
    border-radius: 3px;
    color: rgb(139, 120, 84);
    background: rgb(245, 241, 231);
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 15px;
    margin-right: 10px;
}

.costSum h3 {
    color: var(--sky);
    font-size: 21px;
}

.costSum h3::after {
    content: "원";
    font-size: 17px;
}

.orderButton {
    clear: both;
    overflow: hidden;
}

.orderButton .shoppingBag,
.orderNow {
    float: left;
    width: calc((100% - 10px) / 2);
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border: 2px solid #ccc;
}

.orderNow {
    margin-left: 10px;
    background: var(--sky);
    border: none;
    color: white;
}

/* 함께 */
.recommendProduct {
    background: #f3f3f3;
    height: 300px;
    margin-bottom: 50px;
}


.recommendProduct p {
    padding-top: 40px;
    font-weight: bold;
    color: #333;
}

/* 디테일 (탭부분!!!!!!!!!!!!!!!!!!!)*/


.detailLabels {
    overflow: hidden;
    border-left: 1px solid #999;
}

.detailLabels a {
    border-bottom: 2px solid #333;
}

.detailTab .productDesc a {
    background: white;
    border: 2px solid #333;
    border-bottom: none;
}


.detailRadio {
    display: none;
}

.detailTab label a {
    background: #eeebeb;
    display: block;
    float: left;
    padding: 15px 70px;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    color: #666;
    font-weight: bold;
}


/* 사이드 */

.sideBarBox {
    position: fixed;
    right: -67.5px;
    top: 0;
    width: 110px;
    height: 100%;
    background: transparent;
    transition: all 0.3s;
    overflow: hidden;
}

.sideBarBox>* {
    float: left;
}

.sideBarBox i {
    position: absolute;
    color: #333;
    font-size: 20px;
    left: 0;
    top: 70%;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    padding: 10px;
}

.sideBar {
    float: right;
    width: calc(110px - 42.5px);
    height: 100%;
    background: #333;
}

#sideBtn {
    display: none;
}

#sideBtn:checked~.sideBarBox {
    right: 0;
}