@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --sky: rgb(1, 157, 218);
    --gray: #eeebeb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'KoPubDotumMedium';
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* 헤더 */

.container {
    width: 1070px;
    margin: 0 auto;
}

.gnb {
    overflow: hidden;
    margin: 10px 0;
}

.gnb .gnbList {
    float: right;
    font-size: 0;
}

.gnb .gnbList li {
    display: inline-block;
    font-size: 12px;
    color: gray;
    font-weight: bold;
    padding-left: 20px;
}

.logoArea {
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.logoArea div {
    display: inline-block;
}



.logoArea .aniLogo {
    float: left;
    position: relative;
    height: 60px;

}

.aniLogoImg {
    animation: logoMoving 1000ms infinite;
}

@keyframes logoMoving {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

.aniLogo .logoText {
    width: 120px;
    text-align: start;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logoArea .logoText h1 {

    font-size: 13px;
    color: rgb(130, 163, 38);
}

.logoArea .logoText h2 {
    font-size: 13px;
}

.search {
    float: right;
    padding-top: 20px;
}

.search input {
    height: 20px;
}

.lnb {
    padding: 10px 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.lnb .container {
    text-align: center;
    position: relative;
}

.lnb .container>* {
    display: inline-block;

}

.lnb .container #category {
    display: none;
}

.cateList {
    font-size: 0;
}

.lnb .cateList li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding: 0 20px;
}



.lnb .container label {
    color: var(--sky);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

.lnb .category_tab {
    width: 120px;
    height: 0;
    position: absolute;
    top: 25px;
    left: 0;
    background: white;
    overflow: hidden;
    transition: height 0.3s;
}

.lnb .category_tab li {
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 10px 20px;
    font-size: 13px;
}

#category:checked~.category_tab {
    height: 175px;
}

.lnb .cateSide {
    float: right;
}

.lnb .cateSide li {
    display: inline-block;
    font-size: 13px;
    color: #444;
}


/* 메인슬라이더 */
/* 추천제품 */

.recommend {
    margin-bottom: 50px;
}

.recommend h3 {
    text-align: center;
    margin: 50px 0 20px 0;
    color: #333;
}

.recommend div {
    overflow: hidden;
}

.recommend .recoTop div,
.recoBottom div {
    width: calc(1040px / 4);
    margin-right: 10px;
    float: left;
    border: 1px solid var(--gray);
}

.recommend .recoTop div:last-child,
.recoBottom div:last-child {
    margin: 0;
}

.recoTop img,
.recoBottom img {
    width: 100%;
}


.recommend .text {
    width: calc(1040px / 4);
    overflow: hidden;
    border: none !important;
    height: 100px;
    padding: 15px 10px;
}

.recommend .text h4 {
    text-overflow: ellipsis;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}

.recommend .text p {
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 250px;
    white-space: nowrap;
    font-size: 13px;
}

.recommend .text .pastAmount {
    font-size: 12px;
    color: #999;
    font-weight: bold;
    text-decoration: line-through;
}

.recommend .text .amount {
    font-size: 16px;
    font-weight: bold;
    color: var(--sky);
}

.recommend .text .amount::after {
    content: " 원";
    font-size: 13px;
    color: var(--sky);
    font-weight: normal;
}

/* 신제품 */

.new {
    margin-bottom: 50px;
}

.new h3 {
    text-align: center;
    margin-bottom: 30px;
}

.newProducts {
    overflow: hidden;
}

.newProducts div {
    width: calc(1030px / 3);
    margin-right: 20px;
    float: left;
}

.newProducts .new03 {
    margin: 0;
}

.new01_hover,
.new02_hover,
.new03_hover {
    position: absolute;
    opacity: 0;
    transition: all 0.3s;
}

.new01_hover:hover,
.new02_hover:hover,
.new03_hover:hover {
    opacity: 1;
}

/* 레시피 */
.recipeBg {
    width: 100%;
    height: 470px;
    background: url(../img/recipe_bg.jpg);
    text-align: center;
    color: #333;
}

.recipeBg p {
    font-size: 18px;
    padding-top: 50px;
    margin-bottom: 10px;
    transform: rotate(0.04deg);
}

.recipeBg h4 {
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 40px;
}

.recipeBg h4 span {
    font-weight: bold;
}

.recipeImg {
    width: 1070px;
    margin: 0 auto;
}

.recipeImgLeft,
.recipeImgRight {
    overflow: hidden;
    width: 530px;
}

.recipeImgLeft {
    float: left;
    margin-right: 10px;
}

.recipeImgLeft img,
.recipeImgRight img {
    float: left;
}

.rel {
    position: relative;
}

.cover {
    position: absolute;
    width: 345px;
    height: 230px;
    left: -345px;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    color: white;
}

.cover p {
    padding-top: 80px;
}

.cover a {
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
}

.recipeImgLeft:hover .cover,
.recipeImgRight:hover .cover {
    left: 0;
}

/* sns */


.sns {
    background: var(--gray);
    width: 100%;
    padding-bottom: 50px;
}

.sns h4 {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 40px;
    color: #333;
    padding-top: 30px;
}

.snsTab {
    overflow: hidden;
    width: 840px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.snsTab div {
    float: left;
    width: 160px;
    text-align: center;
    padding-bottom: 15px;
    margin-right: 10px;
    border-bottom: 2px solid rgb(206, 206, 206);
    color: #666;
    font-weight: bold;
}

.snsTab .sns05 {
    margin-right: 0;
}

.snsContent {
    text-align: center;
}

.content01,
.content02,
.content03 {
    display: inline-block;
    margin: 0 20px;
    width: 170px;
}


.circle {
    width: 170px;
    height: 170px;
    background: #333;
    border-radius: 50%;

}

.contentDesc {
    height: 70px;
}

.circle.item01 {
    background: url(../img/cheese.jpg) no-repeat center center/cover;

}

.circle.item02 {
    background: url(../img/soup.jpg) no-repeat center center/cover;

}

.circle.item03 {
    background: url(../img/instar.jpg) no-repeat center center/cover;

}

.circle div {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 50%;
}

.circle .twitter {
    background: url(../img/twitter_icon.jpg) no-repeat center center/cover;
}

.circle .youtube {
    background: url(../img/youtube_icon.jpg) no-repeat center center/cover;
}

.circle .insta {
    background: url(../img/instar_icon.jpg) no-repeat center center/cover;
}

/* 인포 */

.info {
    overflow: hidden;
    margin: 50px auto;
}


.centerBox {
    overflow: hidden;
}

.centerBox>div {
    float: left;
}

.centerLeft {
    padding-right: 30px;
    border-right: 1px solid var(--gray);
    margin-right: 30px;
}

.centerLeft>p {
    font-size: 25px;
    color: var(--sky);
    font-weight: bold;
    font-style: italic;
}

.centerText01 p {
    display: inline-block;
    color: #333;
    font-size: 13px;
}

.centerText02 p {
    display: inline-block;
    font-size: 13px;
    color: #333;
}

.faqText,
.managerText {
    margin: 5px 0;
}

.faqText,
.managerText {
    width: 130px;
    font-size: 13px;
}

.faq .faqText,
.faq .arrow {
    display: inline-block;
}

.arrow {
    height: 28px;
    line-height: 28px;
}

.manager .managerText,
.manager .arrow {
    display: inline-block;
}

.centerRight_inner {}



.customerCenter,
.app,
.notice {
    float: left;
    margin-right: 30px;
}

.title {
    font-size: 23px;
    height: 50px;
}

.qr {
    margin-right: 20px;
}

.qr,
.storeLinks {
    display: inline-block;
}

.googlePlay,
.appStore {
    height: 38px;
}

.googlePlay img,
.appStore img {
    height: 100%;
}

.footerBar {
    background: #222;
    color: white;
    width: 100%;
}

.footerBar .container {
    width: 1070px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    line-height: 60px;
    font-size: 15px;
}

.footerBar .terms,
.familSite,
.allWatch {
    display: inline-block;
}

.terms {
    float: left;
}

.footerBar .terms li {
    display: inline-block;
    margin-right: 10px;
}

.allWatch {
    float: right;
    border-right: 1px solid #666;
    padding: 0 50px;
}

.familSite {
    float: right;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    padding: 0 50px;
}

.companyInfo {
    background: rgb(74, 76, 82);
    height: 300px;
}

.companyInfo .companyInfoTitle {
    color: #999;
    padding: 30px 0;
}

.companyBottom {
    overflow: hidden;
    color: #999;
    line-height: 1.6;
    font-size: 14px;
    padding-bottom: 30px;
    border-bottom: 1px solid #999;
}

.infoLeft {
    margin-right: 70px;
}

.infoLeft .leftName {
    width: 120px;
}

.infoCenter .leftName {
    width: 130px;
}

.rightName {
    color: white;

}

.companyBottom div {
    float: left;
}

.infoCenter {
    float: left;
}

.companyBottom .infoRight {
    float: right;
    width: 370px;
}

.insuranceLogo {
    overflow: hidden;
}

.insuranceLogo>* {
    float: left;
}

.insuranceText p {
    color: white;
}

.insuranceLogo img {
    height: 20px;
}

.footerEnd {
    overflow: hidden;
    background: rgb(74, 76, 82);
    color: #999;
    font-size: 14px;
}

.footerEnd .container {
    width: 1070px;
    margin: 0 auto;
}

.footerEnd .copyright {
    margin-right: 50px;
}

.footerEnd div {
    float: left;
}

.certs .certLeft img,
.certRight img {
    height: 40px;
    margin-right: 20px;
}

.certs .certLeft {
    overflow: hidden;
    margin-right: 50px;
}

.certLeft>* {
    float: left;
}

.certs .certRight {
    overflow: hidden;
}

.certRight>* {
    float: left;
}