@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --sky: rgb(1, 157, 218);
    --gray: #eeebeb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'KoPubDotumMedium';
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* 헤더 */

.container {
    width: 1070px;
    margin: 0 auto;
}

.gnb {
    overflow: hidden;
    margin: 10px 0;
}

.gnb .gnbList {
    float: right;
    font-size: 0;
}

.gnb .gnbList li {
    display: inline-block;
    font-size: 12px;
    color: gray;
    font-weight: bold;
    padding-left: 20px;
}

.logoArea {
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.logoArea div {
    display: inline-block;
}



.logoArea .aniLogo {
    float: left;
    position: relative;
    height: 60px;

}

.aniLogoImg {
    animation: logoMoving 1000ms infinite;
}

@keyframes logoMoving {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

.aniLogo .logoText {
    width: 120px;
    text-align: start;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logoArea .logoText h1 {

    font-size: 13px;
    color: rgb(130, 163, 38);
}

.logoArea .logoText h2 {
    font-size: 13px;
}

.search {
    float: right;
    padding-top: 20px;
}

.search input {
    height: 20px;
}

.lnb {
    padding: 10px 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.lnb .container {
    text-align: center;
    position: relative;
}

.lnb .container>* {
    display: inline-block;

}

.lnb .container #category {
    display: none;
}

.cateList {
    font-size: 0;
}

.lnb .cateList li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding: 0 20px;
}



.lnb .container label {
    color: var(--sky);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

.lnb .category_tab {
    width: 120px;
    height: 0;
    position: absolute;
    top: 25px;
    left: 0;
    background: white;
    overflow: hidden;
    transition: height 0.3s;
}

.lnb .category_tab li {
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 10px 20px;
    font-size: 13px;
}

#category:checked~.category_tab {
    height: 175px;
}

.lnb .cateSide {
    float: right;
}

.lnb .cateSide li {
    display: inline-block;
    font-size: 13px;
    color: #444;
}

/* 내비 */

.categorySort {
    overflow: hidden;
    margin: 30px 0;
}

.sort {
    float: left;
    color: #666;
}

.sortFeature {
    float: right;
}

.sort h5 {
    display: inline-block;
    border-right: 1px solid #999;
    padding: 0 15px;
    line-height: 11px;
    font-weight: normal;
    transform: rotate(0.04deg);
}

.sort h5:last-child {
    border: none;

}

.sortFeature div {
    display: inline-block;
}

.sortFeature .sortAlbum {
    margin-right: 15px;
}


/* 제품란 */

.cards {
    overflow: hidden;
}

.cards .card {
    float: left;
    width: calc(1020px / 3);
    height: 560px;
    margin-right: 25px;
    margin-bottom: 25px;
    border: 1px solid var(--gray);
    overflow: hidden;
}

.cards .card:last-child {
    margin: 0;
}

.card .cardText {
    padding: 20px;
}

.card .foodImg {
    width: 340px;
}

.card .foodImg img {
    display: block;
    width: 100%;
}

.infoTag {
    height: 44px;
}

.infoTag span {
    display: inline-block;
    font-size: 13px;
    transform: rotate(0.04deg);
    color: #666;
    border: 1px solid #666;
    padding: 4px;
    border-radius: 4px;
}

.foodTitle {
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
}

.foodCost>* {
    display: inline-block;
}

.prevCost {
    font-size: 13px;
    color: #999;
    text-decoration: line-through;
    transform: rotate(0.04deg);
}

.foodCost h3 {
    color: var(--sky);
    font-size: 22px;
    margin-right: 3px;
}

.foodCost h3::after {
    content: "원";
    font-size: 17px;
}

.foodCost .memberPrice {
    color: var(--sky);
    font-weight: bold;
    font-size: 14px;
}