@import url("http://fonts.cdnfonts.com/css/avenir-lt-std");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100%;
  z-index: 1111;
  background: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  height: 120px;
  font-family: "Avenir", sans-serif;
  position: fixed;
  top: 0;
}

.innerHeader {
  width: 1100px;
  margin: 0 auto;
  height: 100%;
  display: flex;
}

.innerHeader h1 {
  display: flex;
  height: 100%;
  align-items: center;
}

.innerHeader h1 a,
.innerHeader h1 img {
  display: block;
}

.menus {
  font-family: "Avenir LT Std", sans-serif;
  font-size: 13px;
  font-weight: 300;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.gnb ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.gnb ul li {
  position: relative;
}

.gnb ul li a {
  display: block;
  color: #555;
  padding: 10px;
}

.gnb ul li a:hover {
  color: black;
}

.gnb ul li::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #ccc;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gnb ul li:last-child::after,
.gnb ul li:nth-child(4)::after {
  background: transparent;
}

.gnb .search_li {
  position: relative;
}

.gnb #gnb_search {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.5s;
  padding-left: 10px;
}

.gnb #gnb_search:focus {
  outline: none;
  border: 1px solid #669900;
}

.gnb #gnb_search::placeholder {
  color: #999;
}

.gnb .search_li i {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  opacity: 1;
}

.lnb {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  z-index: 11;
}

.lnb .main-menu {
  display: flex;
}

.lnb .main-menu .item {
  padding: 10px 25px;
}

.main-menu .item:hover {
  background: #2c2a29;
  border-radius: 10px 10px 0 0;
  color: #669900;
  cursor: pointer;
}

.item__contents {
  display: none;
}

.item__contents {
  position: absolute;
  top: 118px;
  left: 0;
  width: 100%;
  background: white;
}

.item__contents .contents__menu {
  background: #2c2a29;
  color: #999;
}

.contents__menu .inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
}

.contents__menu .inner li {
  width: 220px;
  padding: 5px 0;
  cursor: pointer;
}

.contents__menu .inner ul li:hover {
  color: #669900;
}

.contents__menu .inner h4 {
  font-size: 14px;
  color: white;
  padding-bottom: 10px;
  font-weight: normal;
}

.contents__texture {
  background: url("./img/main_menu_pattern.jpg");
  padding: 25px 0;
}

.contents__texture .inner {
  max-width: 1100px;
  margin: 0 auto;
}

.contents__texture .inner h4 {
  color: #999;
  font-size: 12px;
  margin-bottom: 4px;
}

.contents__texture .inner p {
  margin-bottom: 10px;
  color: #669900;
  font-size: 12px;
}

/* 메인 */

.main {
  height: 646px;
  background: url(./img/visual_bg.jpg);
  overflow: hidden;
  position: relative;
  margin-top: 120px;
}

.main .badges {
  position: fixed;
  right: 0;
  top: 140px;
  opacity: 1;
  transition: all 0.8s ease;
  z-index: 123;
}

.main_container {
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.visual_title {
  position: absolute;
  top: 15%;
  left: 5%;
  text-align: center;
  opacity: 0;
  transition: all 1.5s;
}

.visual_title img {
  display: block;
}

.visual_title .more {
  width: 129px;
  border: 2px solid rgb(89, 43, 24);
  border-radius: 5px;
  line-height: 34px;
  font-size: 14px;
  margin-top: 20px;
  color: rgb(89, 43, 24);
  transition: all 0.5s;
  cursor: pointer;
}

.visual_title .more:hover {
  background: rgb(89, 43, 24);
  color: white;
}

.visual_product {
  width: 100%;
  height: 100%;
}

.pro01,
.pro02 {
  opacity: 0;
  transition: all 2.6s;
}

.pro01_img {
  position: absolute;
  right: 3%;
  bottom: 0;
}

.pro01_title {
  position: absolute;
  right: 20%;
  top: 5%;
}

.pro02_img {
  position: absolute;
  right: 19%;
  bottom: 0;
}

.pro02_title {
  position: absolute;
  right: 40%;
  bottom: 37%;
}

.deco {
  position: absolute;
  right: 38%;
  bottom: 0;
  opacity: 0;
  transition: all 2.5s;
}

/* 공지사항 슬라이드 */
.notice {
  background: rgb(39, 39, 39);
  height: 60px;
  display: flex;
}

.left_notice {
  flex: 1.25;
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.notice_slide {
  height: 60px;
}

.notice_slide p {
  height: 60px;
  padding: 20px 0;
  transform: translateY(-60px);
}

.left_wrapper {
  overflow: hidden;
}

.right_notice {
  flex: 1;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.right_notice h3 {
  margin-left: 150px;
  font-size: 17px;
  color: rgb(39, 39, 39);
}

.right_notice .up {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.plus {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  margin-left: 150px;
}

/* 슬라이드 */
.slides {
  background: rgb(246, 245, 240);
  height: 700px;
  overflow: hidden;
  transition: all 0.4s;
}

.slides.clicked {
  height: 0;
}

.swiper {
  margin-top: 60px;
  height: fit-content;
  padding-bottom: 40px !important;
}

.swiper-wrapper {
  height: 90%;
  display: flex;
  align-items: center;
}

.swiper-wrapper div {
  position: relative;
}

.swiper-wrapper div div {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.swiper-wrapper div div:hover a {
  background: rgb(39, 39, 39);
  color: white;
}

.swiper-wrapper div div a {
  display: block;
  padding: 10px 15px;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 5px;
  transition: all 0.5s;
}

.swiper-pagination-bullet {
  background: #ccc;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #007042;
}

/* 리워드 reward */

.reward_box {
  display: flex;
  justify-content: space-between;
}

.left_fill {
  width: 100%;
  background: rgb(39, 39, 39);
}

.right_fill {
  width: 100%;
  background: rgb(213, 199, 152);
}

.center_fill {
  position: relative;
}

.center_fill img {
  display: block;
}

.center_btns {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.center_btns {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.center_btns .sign_up a {
  display: block;
  width: 130px;
  margin-right: 10px;
  height: 45px;
  border: 2px solid rgb(39, 39, 39);
  background: rgb(39, 39, 39);
  color: white;
  border-radius: 5px;
  line-height: 40px;
  transition: all 0.5s;
}

.center_btns .sign_up a:hover {
  background: rgb(213, 199, 152);
  color: rgb(39, 39, 39);
}

.center_btns .sign_in a {
  display: block;
  width: 110px;
  height: 45px;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 5px;
  line-height: 40px;
  transition: all 0.5s;
}

.center_btns .sign_in a:hover {
  background: rgb(39, 39, 39);
  color: white;
}

.center_btns .e_gift a {
  display: block;
  width: 250px;
  height: 45px;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 5px;
  line-height: 40px;
  margin-top: 10px;
  transition: all 0.5s;
}

.center_btns .e_gift a:hover {
  background: rgb(39, 39, 39);
  color: white;
}

/* 비디오 */

.video {
  background: url("./img/video_cover_pattern.png");
}

.inner_video {
  height: 700px;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.deco_circle01 {
  position: absolute;
  top: 10%;
  animation: floating 3s infinite;
  transform: translateY(3%);
}

.deco_circle02 {
  position: absolute;
  bottom: 15%;
  left: 15%;
  animation: floating 2s 0.5s infinite;
  transform: translateY(2%);
}

.deco_circle03 {
  position: absolute;
  bottom: -20%;
  right: 0;
  animation: floating 2.5s 1.5s infinite;
  transform: translateY(3%);
}

@keyframes floating {
  50% {
    transform: translateY(3%);
  }

  50% {
    transform: translateY(0%);
  }
}

/* 아이스블렌드 */
.ice_blend {
  background: url(./img/season_product_bg.jpg);
}

.inner_blend {
  max-width: 1100px;
  margin: 0 auto;
  height: 400px;
  display: flex;
}

.inner_blend .blend_img {
  z-index: 1;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1.5s;
}

.blend_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.blend_text img {
  display: block;
}

.blend_more {
  transition: all 1.5s 2.3s;
  opacity: 0;
  transform: translateX(100%);
}

.blend_text .blend_more a {
  margin-top: 5px;
  display: block;
  padding: 10px 15px;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 5px;
  transition: all 0.5s;
}

.blend_text .blend_more:hover a {
  background: rgb(39, 39, 39);
  color: white;
}

.text_img01 {
  transform: translateX(50%);
  opacity: 0;
  transition: all 1.5s 0.8s;
}

.text_img02 {
  transform: translateX(50%);
  opacity: 0;
  transition: all 1.5s 1.4s;
}

/* 리저브 */

.reserve {
  background: url(./img/reserve_bg.jpg);
}

.inner_reserve {
  height: 400px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.reserve_logo {
  margin-right: 50px;
  transform: translateX(-50%);
  transition: all 1.5s;
  opacity: 0;
}

.reserve_more {
  opacity: 0;
  transform: translateX(-30%);
  transition: all 1.5s 1.4s;
}

.reserve_more a {
  display: inline-block;
  color: #d9aa8a;
  border: 2px solid #d9aa8a;
  border-radius: 5px;
  padding: 10px 15px;
  transition: all 0.5s;
}

.reserve_more a:hover {
  background: #d9aa8a;
  color: white;
}

.text_img {
  opacity: 0;
  transform: translateX(-30%);
  transition: all 1.5s 0.8s;
}

.reserve_product {
  transform: translateX(50%);
  opacity: 0;
  transition: all 1.5s 2s;
}

/* 픽 */
.pick {
  background: url(./img/favorite_bg.jpg) no-repeat fixed center center/cover;
}

.inner_pick {
  height: 700px;
  max-width: 1100px;
  margin: 0 auto;
}

.inner_pick .pick_text {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
}

.inner_pick .pick_text img {
  display: block;
}

.pick_more a {
  display: inline-block;
  color: white;
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 5px;
  transition: all 0.5s;
}

.pick_more a:hover {
  background: white;
  color: rgb(39, 39, 39);
}

.pick_img01 {
  transform: translateX(-50%);
  transition: all 1.5s;
  opacity: 0;
}

.pick_img02 {
  transform: translateX(-50%);
  transition: all 1.5s 0.8s;
  opacity: 0;
}

.pick_more {
  transform: translateX(-100%);
  transition: all 1.5s 1.4s;
  opacity: 0;
}

/* 매장 보기 */

.see_cafe {
  background: url("./img/reserve_store_bg.jpg");
}

.inner_see {
  width: 1100px;
  margin: 0 auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_see .medal {
  width: 334px;
  height: 334px;
}

.inner_see .medal .medal_front,
.inner_see .medal .medal_back {
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.7s;
}

.medal .medal_front {
  transform: rotateY(0deg);
}

.medal .medal_back {
  transform: rotateY(-180deg);
}

.medal:hover .medal_front {
  transform: rotateY(180deg);
}

.medal:hover .medal_back {
  transform: rotateY(0deg);
  position: relative;
}

.medal_back .see_more a {
  display: block;
  position: absolute;
  bottom: 19%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 5px;
  transition: all 0.5s;
}

.medal_back .see_more a:hover {
  background: rgb(51, 51, 51);
  color: white;
}

/* 매장 찾기 */

.find_cafe {
  background: url("./img/find_store_bg.jpg");
}

.inner_find {
  max-width: 1100px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.find_img01 {
  position: absolute;
  top: -17%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1.5s;
}

.find_img02 {
  position: absolute;
  bottom: 10%;
  left: 23%;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1.5s 0.8s;
}

.find_texture01 {
  position: absolute;
  left: 37%;
  top: 0;
}

.find_texture02 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.find_text {
  position: absolute;
  top: 30%;
  left: 50%;
}

.find_text .text01 {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateX(50%);
  transition: all 1.5s;
}

.find_text .text02 {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateX(50%);
  transition: all 1.5s 0.8s;
}

.inner_find img {
  display: block;
}

.find_more {
  opacity: 0;
  transform: translateX(50%);
  transition: all 1.5s 2.1s;
}

.find_more a {
  display: inline-block;
  color: rgb(51, 51, 51);
  padding: 10px 25px;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 5px;
  transition: all 0.5s;
}

.find_more a:hover {
  background: rgb(51, 51, 51);
  color: white;
}

/* 푸터 */

.footer {
  background: #282828;
}

.innerFooter {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.terms {
  padding-top: 20px;
  background: #2c2a29;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footerNav {
  height: 0;
}

.footerNav .prev {
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  width: 50px;
  height: 50px;
  border: 2px solid #666;
  border-radius: 50%;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerNav .prev:hover {
  background: #666;
  color: #282828;
  cursor: pointer;
}

.footerNav .next:hover {
  background: #666;
  color: #282828;
  cursor: pointer;
}

.footerNav .next {
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  width: 50px;
  height: 50px;
  border: 2px solid #666;
  border-radius: 50%;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awardsWrapper {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.awards {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 35px;
  padding: 40px 0;
  border-bottom: 1px solid #333;
  transition: all 0.3s;
}

.awards img {
  display: block;
}

.terms a {
  display: block;
  font-size: 12px;
  color: #ccc;
  padding: 0 10px;
}

.footer_links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.footer_links a {
  margin-top: 10px;
  display: block;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 12px;
  border: 2px solid white;
}

.footer_links a:hover {
  text-decoration: underline;
}

.footer_info {
  color: #999;
  display: flex;
  font-size: 12px;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.footer_copy {
  text-align: center;
  font-size: 12px;
  color: #999;
  padding-bottom: 20px;
}

@media all and (min-width: 1400px) {
  .main_container {
    width: 1400px;
  }
}
