@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --blue: #356ed5;
  --deepblue: #215fd1;
  --bgsky: #edf6fd;
}

/* h2 폰트패밀리 알아서 발랄한걸로 바꿔라~~ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #222;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

img {
  display: block;
}

.inner_container {
  max-width: 1400px;
  margin: 0 auto;
}
/* 헤더 */

@media all and (min-width: 601px) {
}

@media all and (min-width: 769px) {
  .header {
  }

  .inner_header {
    width: 1400px;
    margin: 0 auto;
  }

  .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gnb_search {
    position: relative;
  }

  .gnb_search input {
    padding: 3px 10px;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 16px;
  }

  .logo_bg {
    width: 100px;
    background: var(--blue);
    padding: 10px;
  }

  .logo_bg img {
    width: 100%;
  }

  .gnb .others span a {
    margin-left: 10px;
    color: #666;
  }

  .search_btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
  }

  .lnb .lnb_first {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
  }

  .lnb_first li a {
    padding: 10px;
    display: block;
  }

  .lnb_first li a:hover {
    color: var(--deepblue);
  }

  /* 메인 */
  .main {
    margin-bottom: 60px;
  }

  .main_slide {
    height: 700px;
  }

  .main_container {
    width: 100%;
    margin: 0 auto;
    height: 700px;
  }

  .main .swiper {
    width: 100%;
    height: 100%;
  }

  .main .swiper-slide {
    display: flex;
  }

  .main .slide_img {
    flex: 1;
  }

  .main .img_box {
    width: 450px;
    height: 450px;
    background: white;
    border-radius: 50%;
    margin: 50% auto;
    transform: translateY(-50%);
    overflow: hidden;
  }

  .img_box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main .slide_text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .slide_text p a {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .slide_text h2 a {
    display: block;
    font-size: 42px;
    margin-bottom: 20px;
  }

  .slide_more a {
    display: block;
    font-size: 22px;
    padding: 10px 20px;
    border: 2px solid #222;
    border-radius: 2rem;
    transition: all 0.4s;
  }

  .slide_more a:hover,
  .slide_more a:active {
    background: #222;
    color: white;
  }

  /* 퀵메뉴 */

  .quick_menu {
    text-align: center;
    width: 100%;
    background: #f3f3f3;
    padding: 50px 0;
  }

  .quick_menu h2 {
    font-size: 30px;
    margin-bottom: 7px;
  }

  .quick_menu p {
    color: var(--deepblue);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .quick_menu .quick_list {
    display: flex;
    gap: 30px;
    width: fit-content;
    margin: 0 auto;
  }

  .quick_list li {
    width: 130px;
    height: 130px;
    background: white;
    border-radius: 50%;
    transition: all 0.4s;
  }

  .quick_list li > a {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .quick_list li:hover {
    box-shadow: 0 3px 7px rgb(0 0 0 / 13%);
    transform: translateY(-5%);
    background: var(--blue);
  }

  /* 추천 */

  .recommend {
    padding: 60px 0;
    margin-bottom: 60px;
    background: var(--bgsky);
  }

  .recommend_title {
    text-align: center;
  }

  .recommend_title h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .recommend_title p {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--deepblue);
  }

  .recommend_switch {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    font-weight: 700;
    z-index: 1;
    background: var(--blue);
    margin-bottom: 30px;
    border: 2px solid var(--blue);
    overflow: hidden;
  }

  .recommend_switch div {
    font-size: 25px;
    padding: 10px 20px;
    background: transparent;
    z-index: 2;
    cursor: pointer;
  }

  .recommend_switch .switch_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 180px;
    height: 50px;
    background: white;
    border-radius: 2rem;
    transition: all 0.4s;
  }

  .recommend_switch .switch_bg.active {
    left: 180px;
    width: 130px;
  }

  .monthly_busan,
  .best_busan {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .best_busan.none,
  .monthly_busan.none {
    display: none;
  }
  .monthly_busan > div,
  .best_busan > div {
    flex: 1;
    min-width: 250px;
    height: 300px;
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
  }

  .monthly_content a,
  .best_content a {
    display: block;
  }

  .monthly_img,
  .best_img {
    width: 100%;
    height: 180px;
    background: #ddd;
  }

  .monthly_img img,
  .best_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .monthly_text,
  .best_text {
    padding: 20px;
    height: 118px;
  }

  .monthly_text h3 {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .monthly_text p,
  .best_text p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
  }

  /* 공지사항 */

  .notice {
    padding: 50px 0;
    position: relative;
  }

  .notice::before {
    content: "";
    position: absolute;
    background: url("../img/wavebg.png");
    width: 100%;
    height: 500px;
    z-index: -1;
    top: -5%;
    left: 0;
  }

  .notice .inner_container {
    display: flex;
  }

  .notice_title {
    flex: 1;
  }

  .notice_contents {
    flex: 1.7;
    overflow: hidden;
    white-space: nowrap;
  }
  .notice_title h2 {
    font-size: 43px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .notice_title p {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .notice_more a {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px 20px;
    border-radius: 2rem;
  }

  .notice_more i {
    color: white;
    font-size: 14px;
    margin-left: 10px;
  }
  .notice_content {
    margin-bottom: 20px;
    text-overflow: ellipsis;
  }

  .content_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .notice_content a {
    display: block;
  }

  .notice_content p {
    color: #666;
  }

  .notice_content span {
    font-size: 15px;
    color: #888;
  }

  .notice_content i {
    font-size: 13px;
    color: #888;
  }

  .inner_footer {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .footer_text {
    display: flex;
    gap: 60px;
  }
}

@media all and (min-width: 1281px) {
}
